In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../../datasets/fitzpatrick17k/fitzpatrick17k.csv')
df.head()

,md5hash,fitzpatrick,label,nine_partition_label,three_partition_label,url,url_alphanum
0,dae2d6176ea28b4d991c573c8320b0cf,4,lichen planus,inflammatory,non-neoplastic,http://atlasdermatologico.com.br/img?imageId=3739,httpwwwatlasdermatologicocombrimgimageId3739.jpg
1,dcba3efe0fe28be2b0032df9470c320d,5,behcets disease,inflammatory,non-neoplastic,http://atlasdermatologico.com.br/img?imageId=8633,httpwwwatlasdermatologicocombrimgimageId8633.jpg
2,9a9ded2de5e2c20a90cdfc2971e2e155,2,pityriasis lichenoides chronica,inflammatory,non-neoplastic,https://www.dermaamin.com/site/images/clinical...,httpwwwdermaamincomsiteimagesclinicalpicppityr...
3,d6166c9947e7e99915ff4d6907ddec44,2,mycosis fungoides,malignant cutaneous lymphoma,malignant,http://atlasdermatologico.com.br/img?imageId=4594,httpwwwatlasdermatologicocombrimgimageId4594.jpg
4,8ea58508e89d61a98320acb03139b8bb,3,urticaria pigmentosa,inflammatory,non-neoplastic,https://www.dermaamin.com/site/images/clinical...,httpwwwdermaamincomsiteimagesclinicalpicuurtic...

In [4]:
df_train, df_test = train_test_split(df,test_size = 0.1, random_state=19,stratify=df['fitzpatrick'])
print(len(df_train))
print(len(df_test))

14872
1653

In [8]:
df_train.describe()

        fitzpatrick
count  14872.000000
mean       2.685449
std        1.524386
min       -1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max        6.000000

In [9]:
df_test.describe()

       fitzpatrick
count  1653.000000
mean      2.685420
std       1.525493
min      -1.000000
25%       2.000000
50%       2.000000
75%       4.000000
max       6.000000

In [12]:

def get_fractions(df):
    df_grouped = df.groupby(['fitzpatrick'])['md5hash'].count()
    total = len(df)
    skin_tones = [-1,1,2,3,4,5,6]
    qtds = [ df_grouped[i]/total *100 for i in skin_tones]
    for tone,qtd in zip(skin_tones,qtds):
      print(f"{tone}|{qtd:10.2f}")
    
get_fractions(df_train)

-1|      3.38
1|     17.79
2|     29.02
3|     19.96
4|     16.80
5|      9.24
6|      3.80

In [13]:
get_fractions(df_test)

-1|      3.39
1|     17.79
2|     29.04
3|     19.96
4|     16.76
5|      9.26
6|      3.81

In [16]:
df_train.to_csv('../../datasets/fitzpatrick17k/fitzpatrick17k_train.csv',index=False)
df_test.to_csv('../../datasets/fitzpatrick17k/fitzpatrick17k_test.csv',index=False)